<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	</head>
	<body>
		<script type="text/html" id="tpl">
			<% for(var i = 0; i < 10; i++){ %>
			<%= bar%>
			<hr />
			<% } %>
		</script>

		<!--<div id="tpl">
			<% for(var i = 0; i < 10; i++){ %>
			<%= bar%>
			<% } %>
		</div>-->
	</body>
	<script type="text/javascript" src="tpl.js"></script>
	<script type="text/javascript" src="events.js"></script>
	<script type="text/javascript">
		function VM(properties) {
		    var self = this; // make sure we can access this inside our anon function
		    for (var i in properties) {
		        (function(i) {
		            Object.defineProperty(self, i, {
		                // Create a new getter for the property
		                get: function () {
		                    return properties[i];
		                },
		                // Create a new setter for the property
		                set: function (val) {
		                    properties[i] = val;
		                    emit('reflash');
		                }
		            })
		        })(i);
		    }
		}
		var foo = new VM({
			foo: 'i am foo',
			bar: 'i am bar'
		})
		var ele = document.getElementById('tpl'),
			tpl = tmpl('tpl'),
			parent = ele.parentNode;
		parent.innerHTML = tpl(foo);
		on('reflash', function(){
			parent.innerHTML = tpl(foo);
		})
	</script>
</html>